<a href="https://colab.research.google.com/github/ThanmaiJami/Machine_Learning/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages for Machine Learning
1. Python
2. R

#Print Function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [ ]:
print(8)

8

In [ ]:
print(8+9)

17

#Basic Data Types
1. int
2. float
3. str

In [ ]:
type(8)

int

In [ ]:
type(7.9)

float

In [ ]:
type("machine learning")

str

#Constants and Variables

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [ ]:
h1,h2,h3 = "Iron Man", "Captain America", "Bat Man"       
print(h1)           
print(h2)     
print(h3)

Iron Man
Captain America
Bat Man

In [ ]:
h1=h2=h3

In [ ]:
print(h1)           
print(h2)     
print(h3)

Bat Man
Bat Man
Bat Man

#Input Function

In [ ]:
num1 = input("Enter the first number : ")
num2 = input("Enter the second number : ")
sum = num1 + num2
print(sum)

Enter the first number : 23
Enter the second number : 132
23132

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
sum = num1 + num2
print(sum)

Enter the first number : 9
Enter the second number : 47
56

In [ ]:
#changing the data type in python
num = 5
print(float(num))
x = float(num)
print(num)
print(x)
type(x)

5.0
5
5.0

float

#Basic Data Types in Python:
1. Integer
2. Floating point
3. Complex
4. Boolean
5. String

In [ ]:
#Integers
a = 8
print(a)

8

In [ ]:
type(a)

int

In [ ]:
#floating point
b = 9.0
print(b)
type(b)

9.0

float

In [ ]:
#complex numbers
c = 1 +3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
c = 1+3j**2
print(c)
type(c)

(-8+0j)

complex

In [ ]:
#Boolean
#True#False
a = True
print(a)
type(a)

True

bool

In [ ]:
b = False
print(b)
type(b)

False

bool

In [ ]:
a = 7 < 3
print(a)
type(a)

False

bool

In [ ]:
#String
print("Machine Learning")

Machine Learning

In [ ]:
a = "Machine Learning"
print(a)
type(a)

Machine Learning

str

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [ ]:
#String operations

In [ ]:
#Slicing
my_string = "Machine Learning"
print(my_string[1:5])
#step slicing
print(my_string[0:11:2])

achi
McieLa

In [ ]:
word1 = "machine"
word2 = "learning"
print(word1 + word2)#string concatenation

machinelearning

# Special Types of Data Types in Python

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. list
2. set
3. dictionary

**List**

In [ ]:
#list should be included in the square brackets
my_list = [1,2,3,34,5]
print(my_list)
type(my_list)

[1, 2, 3, 34, 5]

list

In [ ]:
#lists can have multiple data types
my_list = [2,3,4,5,'Light',True]
print(my_list)

[2, 3, 4, 5, 'Light', True]

Lists are mutable --> Changeable

In [ ]:
#add elements to a list
my_list = [2,3,4,5,'Light',True]
my_list.append(6)
print(my_list)

[2, 3, 4, 5, 'Light', True, 6]

In [ ]:
#print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
4

In [ ]:
#lists allow duplicate values
list1 = [2, 3, 4, 5, 'Light', True, 6,1,2,3]
print(list1)

[2, 3, 4, 5, 'Light', True, 6, 1, 2, 3]

In [ ]:
print(len(list1))#to check the size of the list

10

In [ ]:
#initiating an empty list
list2 = []
print(list2)

[]

In [ ]:
#adding new values to empty list
list2.append(5)
print(list2)

[5]

In [ ]:
#delete an item in list
list2 = [1,345,67,False,'Go','C++']
print(list2)
del list2[3]
print(list2)

[1, 345, 67, False, 'Go', 'C++']
[1, 345, 67, 'Go', 'C++']

In [ ]:
#we can join two lists
list_3 = [1,2,4,56,789]
list_4 = [9278,289,556.7,87]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 4, 56, 789, 9278, 289, 556.7, 87]

**Tuple**

In [ ]:
tuple_1 = (1,2,3,4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [ ]:
#tuple allows mutiple datatypes
tuple_2 = (1,2,3,4,345,67,False,'Go','C++')
print(tuple_2)

(1, 2, 3, 4, 345, 67, False, 'Go', 'C++')

In [ ]:
#converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> Unchangeable

In [ ]:
my_tuple.append(6)

AttributeError: ignored

In [ ]:
print(len(my_tuple))#size of tuple

4

**Set**

In [ ]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
#we cannot call an element in set by indexing
print(my_set[0])

TypeError: ignored

In [ ]:
#convert list to a set
list = [4,5,6,78,9]
print(list)
x = set(list)
print(x)
type(x)

[4, 5, 6, 78, 9]
{4, 5, 6, 9, 78}

set

In [ ]:
#set does not allow duplicate values
set_1 = {1,2,3,4,5,5,6,7,8}
print(set_1)#duplicate values will be removed!!!

{1, 2, 3, 4, 5, 6, 7, 8}

**Dictionary**

Key-Value Pair

In [ ]:
my_dictionary = {'Name':'David','age':30,'Country':'India'}
print(my_dictionary)
type(my_dictionary)

{'Name': 'David', 'age': 30, 'Country': 'India'}

dict

In [ ]:
print(my_dictionary['Name'])
print(my_dictionary['age'])
print(my_dictionary['Country'])

David
30
India

In [ ]:
#dictionaries does not allow duplicate values
dictionary_2 = {'Name':'David','age':30,'Country':'India','Name':'David','age':30,'Country':'India'}
print(dictionary_2)#duplicate values will be removed!!!

{'Name': 'David', 'age': 30, 'Country': 'India'}

#Operators in Python
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

**1. Arithmetic operators**

In [ ]:
num_1 = 20
num_2 = 10

#addition
sum = num_1 + num_2
print("Sum:",sum)

#subtraction
diff = num_1 - num_2
print("Difference:",diff)

#multiplication
prod = num_1*num_2
print("Product:",prod)

#division
div = num_1/num_2
print("Quotient:",div)

#exponent
exp = num_1 ** num_2 #20^10
print("Exponent:",exp)

#modulus
mod = num_1%num_2
print("Remainder:",mod)

Sum: 30
Difference: 10
Product: 200
Quotient: 2.0
Exponent: 10240000000000
Remainder: 0

**2. Assignment Operators**

In [ ]:
a = 5
print(a)

a = 5
a += 5 #a = a + 2
print(a)

b = 10
b-= 2 #b = b - 2
print(b)

#similarly *= **= %= /=

5
10
8

**3. Comparison Operators**

In [ ]:
 a = 5
 b = 10

print(a == b) #equal to
print(a != b) #not equal to
print(a>b) #greaterthan
print(a<b) #lessthan
print(a>=b)
print(a<=b)

False
True
False
True
False
True

**4. Logical Operators**

and

or 

not

In [ ]:
a = 10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

**5. Identity operator**

is 

not

In [ ]:
x = 5
y = 5
print(x is y)

x = 4
y = 7
print( x is y)
print( x is not y)

True
False
True

**6. Membership Operator**

in 

not in

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

#If else statement in python

**Simple if else statement**

In [ ]:
a = 30
b = 50

if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [ ]:
a = int(input("Enter the first number :"))
b = int(input("Enter the second number :"))
if(a>b):
  print('First number is the greatest number')
else:
  print('Second number is the greatest number')

Enter the first number :78
Enter the second number :3783
Second number is the greatest number

**if elif else statement**

In [ ]:
a = 10
b = 25
c = 40
if(b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

**Nested if statement**

In [ ]:
a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print("a is the greatest number")
  else:
    print("c is the greatest number")
else:
  if (b>c):
    print("b is the greatest number")
  else:
    print("c is the greatest number")

c is the greatest number

#Loops in Python

**For Loop**

In [ ]:
laptop1 = input("Enter the price of the laptop: ")
laptop2 = input("Enter the price of the laptop: ")
laptop3 = input("Enter the price of the laptop: ")
laptop4 = input("Enter the price of the laptop: ")
laptop5 = input("Enter the price of the laptop: ")#this is not an efficient way to write the code

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [ ]:
#using loop to take 5 inputs in a loop
for i in range(5): #0,1,2,3,4
  laptop_price = int(input("Enter the price of the laptop: "))

Enter the price of the laptop: 70000
Enter the price of the laptop: 45999
Enter the price of the laptop: 23000
Enter the price of the laptop: 80000
Enter the price of the laptop: 100000

In [ ]:
numbers = [50,100,150,200]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [ ]:
for i in numbers:
  print(i)

50
100
150
200

**While Loop**

In [ ]:
i = 0
while i<10:
  print(i)
  i +=1 #i = i+1

0
1
2
3
4
5
6
7
8
9

#Functions in Python
**Functions:**

Function is a block of code that can be reused in a program

**Factorial of a number**

Factorial of a number is the product of all the positive integers less than or equal to the given number

Factorial of 5 = 5x4x3x2x1 = 120

In [ ]:
number = int(input("Enter a number to find its factorial : "))
factorial = 1
if number == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1, number+1): # range(1,5+1) --> 1,2,3,4,5
    factorial = factorial*i # 1*2*3*4*5 = 120
  print("The factorial of",number,"is",factorial)

Enter a number to find its factorial : 5
The factorial of 5 is 120

**Factorial Function**

In [ ]:
def factorial_value(num):
  factorial = 1
  if num == 0:
    print("The factorial of 0 is 1")
  else:
    for i in range(1, num+1): # range(1,5+1) --> 1,2,3,4,5
      factorial = factorial*i # 1*2*3*4*5 = 120
    return factorial

number = int(input("Enter a number to find its factorial :"))
print("The factorial of",number,"is",factorial_value(number))

Enter a number to find its factorial :5
The factorial of 5 is 120